<div class="container-md">
    <div  *ngFor="let dataItem of Detailslist" >
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="CreditCardNumber" class="form-label">CreditCardNumber :</label>
                {{dataItem.CreditCardNumber}}
            </div> 
        </div>
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="CustomerName" class="form-label">CustomerName :</label>
                {{dataItem.CustomerName}}
            </div> 
        </div>
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="CustomerEmail" class="form-label">CustomerEmail :</label>
                {{dataItem.CustomerEmail}}
            </div> 
        </div>
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="PhoneNumber" class="form-label">MobileNumber :</label>
                {{dataItem.MobileNumber}}
            </div> 
        </div>
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="Amount" class="form-label">Amount :</label>
                {{dataItem.Amount}}
            </div> 
        </div>
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="DueDate" class="form-label">DueDate :</label>
                {{dataItem.DueDate}}
            </div> 
        </div>
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="CreditCardNumber" class="form-label">Charges Applied :</label>
                {{dataItem.Charges}}
            </div> 
        </div>
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="CreditCardNumber" class="form-label">DueAmount :</label>
                {{dataItem.DueAmount}}
            </div> 
        </div>
        <div class="col mb-3">
            <div class="col mb-3">
                <label for="CreditCardNumber" class="form-label">Account Status :</label>
                {{dataItem.Status}}
            </div> 
        </div>
        
    </div>
</div>
